.DS_Store
.idea/
.iml/
.npmrc
.nyc_output/
.vscode/
.yarnclean
.cache/
*.log
deploy/dist/
deploy/node_modules/
deploy/terraform/build/
dist/
node_modules/
work/
coverage/
cjs/
esm/
docs/
deploy/docs
build/
bundle-analysis/